In [1]:
fruit_prices = {
    "apple": 4.6,
    "banana": .52,
    "cherry": 3,
    "orange": 1.75
}
print("The price of an apple is:", fruit_prices["apple"])

The price of an apple is: 4.6

In [2]:
student_marks = {
    "Math": 85,
    "English": 78,
    "Science": 92
}
english_marks = student_marks.get("English")
print("Marks in English:", english_marks)

Marks in English: 78

In [3]:
employee_salaries = {
    "John": 50000,
    "Alice": 55000,
    "Bob": 45000
}
employee_salaries.update({"John": 60000})
print(employee_salaries)

{'John': 60000, 'Alice': 55000, 'Bob': 45000}

In [4]:
set1 = {1, 2, 3}
set2 = {2,3,4}

result = set1.union(set2)
print(result)

{1, 2, 3, 4}

In [5]:
number= {10,20,30}
number.add('40')
print(number)

{10, 20, '40', 30}

In [7]:
number= {10,20,30}
number.remove(20)
print(number)

{10, 30}

In [8]:
set1 = {1, 2,}
set2 = {1,2,3,4}
print(result)

{1, 2, 3, 4}

In [11]:
import random

random_integer = random.randint(1, 100)
print(random_integer)

94