In [6]:
name='I love programming'
print(name[6:18])

 programming

ans2"hello world!"

In [7]:
name='Hello World!'
name1=name.lower()
print(name1)

hello world!

#remove spaces

In [ ]:
a1='Hello'
b1="World!"
print(a1+b1)

HelloWorld!

create 5 name  and replace with "john"

In [17]:
list_01 = ['siya','mina','lin', 'jems''ric']
print(list_01)

['siya', 'mina', 'lin', 'jemsric']

In [21]:
name = ['Akanxa', 'Zankar', 'Uzair', 'Sam', 'Rohit', 'Ash']
name[2] = 'john'
print(name)

['Akanxa', 'Zankar', 'john', 'Sam', 'Rohit', 'Ash']

list

In [22]:
list_1=[1,2,3]
list_2=['x','y','z']
ans= list_1 +list_2
print(ans)

[1, 2, 3, 'x', 'y', 'z']

extract

In [26]:
number=[10,20,30,40,50]
number.remove(20)
number.remove(30)
print(number)

[10, 40, 50]

In [30]:
fruits= ["apple", "banana","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']