In [1]:
for i in range(1, 11):
    print(i * 5)

5
10
15
20
25
30
35
40
45
50

In [2]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [5]:
numbers = [4, 7, 2, 9, 12, 5]
for number in numbers:
    print(number)

4
7
2
9
12
5

In [6]:
text = "namaste india!"
for char in text:
    print(char)

n
a
m
a
s
t
e

i
n
d
i
a
!

In [7]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number * 10)

10
20
30
40
50

In [13]:
name={('hello')}
for name in name:
    print(name.upper())

HELLO

In [20]:
for i in range(1, 11):
    print(f"2 x {i} ={2* i}")

2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10
2 x 6 =12
2 x 7 =14
2 x 8 =16
2 x 9 =18
2 x 10 =20

In [21]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(f"The square of {number} is {number**2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [22]:
for i in range(1,6):  
    print(f'{i}. akanxa')

1. akanxa
2. akanxa
3. akanxa
4. akanxa
5. akanxa